<div class="container my-4 border">
    <div class="h3 mt-3 text-center">Set A</div>
    <hr>
    <ol class="mt-4">
        <li>
            <strong>How to create reactive forms?</strong>
            <br>
            Answer: To Create Reactive Forms in Angular reactive forms use a model-driven approach. You create a form model in your component class using  FormGroup ,  FormControl , and  FormArray  objects and bind it to your HTML template using directives like  formControlName.
        </li>
        <li class="mt-4">
            <strong>How to add built-in validation for email in reactive forms?</strong>
            <br>
            Answer:to add Built-in Email Validation is use  Validators.email  within your  FormControl  definition to check if the input matches a basic email format

        </li>
        <li class="mt-4">
            <strong>How to add built-in validation for required fields in reactive forms?</strong>
            <br>
            Answer:to add Built-in Required Field Validation is Apply  Validators.required  to ensure a field is not empty.

        </li>
        <li class="mt-4">
            <strong>How to add regex validation for reactive forms?</strong>
            <br>
            Answer:Regex Validation is to Create a custom validator function that tests the input value against your regex pattern. Apply this custom validator to your  FormControl.
        </li>
        <li class="mt-4">
            <strong>How to generate routing?</strong>
            <br>
            Answer: To Generate Routing is Use the Angular CLI command  ng generate route  to create a new component and configure its routing.

        </li>
        <li class="mt-4">
            <strong>How to configure routes with parameters?</strong>
            <br>
            Answer:The Configuring Routes with Parameters just Add a colon  before the parameter name in your route path to create dynamic routes that pass data through the URL. 
 
        </li>
        <li class="mt-4">
            <strong>What is DebounceTime in RxJS?</strong>
            <br>
            Answer: The  DebounceTime Delays the emission of values from an observable stream. It emits the latest value only after a specified duration has passed without any further emissions. Useful for search bars, where you want to wait for the user to finish typing before making an API call.

        </li>
        <li class="mt-4">
            <strong>What is pipe operator?</strong>
            <br>
            Answer:  The  pipe  operator in RxJS is used to chain multiple operators together. It allows you to transform and manipulate observable streams in a clear and readable wa
        </li>
        <li class="mt-4">
            <strong>What is distinctUntilChanged operator?</strong>
            <br>
            Answer:DistinctUntilChanged is to Filters out consecutive duplicate values from an observable stream. It emits only when the current value is different from the previous one. Useful for avoiding unnecessary processing or rendering due to repeated values
        </li>
        <li class="mt-4">
            <strong>What is filter operator in RxJs?</strong>
            <br>
            Answer:The Filter Operator is to filters values from an observable stream based on a provided predicate function. It emits only those values that satisfy the condition defined in the predicate. 
        </li>
    </ol>
</div>
    