<div class="container my-4 border">
    <div class="h3 mt-3 text-center">Set A</div>
    <hr>
    <ol class="mt-4">
        <li>
            <strong>How to create reactive forms?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>How to add built-in validation for email in reactive forms?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>How to add built-in validation for required fields in reactive forms?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>How to add regex validation for reactive forms?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>How to generate routing?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>How to configure routes with parameters?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>What is DebounceTime in RxJS?</strong>
            <br>
            Answer: 
        </li>
        <li class="mt-4">
            <strong>What is pipe operator?</strong>
            <br>
            Answer: 
        </li>
        <li class="mt-4">
            <strong>What is distinctUntilChanged operator?</strong>
            <br>
            Answer:
        </li>
        <li class="mt-4">
            <strong>What is filter operator in RxJs?</strong>
            <br>
            Answer: 
        </li>
    </ol>
</div>
    